 
<h3 class="p-3 text-blue shadow-sm">急いで受診をお勧めします</h3>
<div class="breast_workaround">
  <!--<h3 class="box">冷やす</h3>-->
  <p>症状が見られて時間が経過していると、悪化する可能性が高くなります。</p>
  <p>内服すると症状が良くなったように見えても進行している可能性があリす。</p>
  <p><span>水タオルで冷やして、受診しましょう。</span></p>
</div>