 
<h3 class="p-3 text-blue shadow-sm">対処方法</h3>
<div class="breast_workaround ">
  <h3 class="box">冷やす</h3>
  <p>温めると悪化します。</p>
  <p>痛いところ、赤いところを水タオルや冷えピタで冷やしましょう。</p>
</div>
<div class="breast_workaround">
  <h3 class="box">吸わせる回数を減らすまたはやめる。</h3>
  <p>無理に吸わせると悪化します。</p>
</div>
<div class="breast_workaround">
  <h3 class="box">痛いところを押したり揉んだりしない。</h3>
  <p>揉んだり押したしすると悪化します。</p>
</div>
<div class="breast_workaround">
  <h3 class="box">張ってきたら手で搾乳する。</h3>
  <p>搾乳器を使用すると乳腺を痛めます。</p>
  <p>乳房挙上動作やおにぎり絞りでもよいです。</p>
</div>
<div class="breast_workaround">
  <h3 class="box">栄養・水分をとり、体を休めましょう。</h3>
  <p>体力や免疫の低下は乳腺炎を悪化させます。</p>  
</div>
                        
</div> 