<div class="container">
  <!--<div class="warning-sublte p-2 text-dark bg-opacity-10 my-">-->
 <div class="breast_condition-navigation">
    <h2>チェックブレスト　履歴</h2>
      <!--<a href="/employees/new">新規作成</a>-->
    <!--</div>-->
    
    <!--<table>-->
      <!-- テーブルのヘッダー -->
    <!--  <thead>-->
    <!--    <tr>-->
    <!--      <th>チェック年月日</th>-->
          <!--<th>発熱</th>-->
          <!--<th>疼痛</th>-->
          <!--<th>発赤</th>-->
          <!--<th>しこり</th>-->
          <!--<th>上肢のつれ</th>-->
          <!--<th>全身の症状</th>-->
    <!--    </tr>-->
    <!--  </thead>-->
      <!-- テーブルのボディ -->
    <!--  <tbody>-->
    <!--      <%# @breast_conditions.each do | breast_condition | %>-->
    <!--        <tr>-->
    <!--          <td><#%= breast_condition.created_at %></td>-->
              <!--<td><%#= breast_condition.is_fever %></td>-->
              <!--<td><%#= breast_condition.is_breast_pain %></td>-->
              <!--<td><%#= breast_condition.is_breast_redness %></td>-->
              <!--<td><%#= breast_condition.is_breast_lump %></td>-->
              <!--<td><%#= breast_condition.is_upper_limb_elevation %></td>-->
              <!--<td><%#= breast_condition.is_systemic_symptoms %></td>-->
              
    <!--          <td><a href="/breast_condition/<%#= breast_condition.id %>">詳細情報</a></td>-->
    <!--        </tr>-->
    <!--      <%# end %>-->
    <!--    </tbody>-->
    <!--</table>-->
  </div>
</div>
