<div class="container">
  <div class="warning-sublte p-2 text-dark bg-opacity-10 my-3">
   <h2>乳腺炎</h2>
   </div>
<p>
  
乳腺炎は乳房の乳腺に炎症が生じる病気で、授乳期の女性に多く発症します。乳腺炎が発生しやすい時期は産後2〜3週間あたりで、発生頻度は2%〜33%程度です ...</p>
<p>乳腺炎は膿瘍を形成しない実質性乳腺炎と間質性乳腺炎とにわけられ、それらの延長線上にある乳腺膿瘍もふくむものである。</p>
<p>実質性乳腺炎の多くは、不適切なうつ乳への対応により細菌感染をきたす。</p>
<br>
<hr>
<ul>
<h5>原因</h5>
  <li>乳口炎、乳口炎乳頭・乳輪部障害からの炎症の波及</li>
  <li>うつ乳に細菌感染</li>
  <li>直接乳腺組織への細菌感染</li>
</ul>
<ul>
  <h5>診断</h5>
  <li>局所の疼痛（自発痛・圧痛）</li>  
  <li>発熱（局所・全身）</li>  
  <li>多くは局所硬結をふれ、発赤を伴う</li>  
  <li>一般的に乳汁分泌不良（血行障害・乳管への圧迫等により）</li>  
  <li>乳汁成分簡易分析法にて</li>  
  </ul>
<ul>  
  <h5>治療</h5>
  <li>安静（マッサージ禁・時として直母禁・搾母禁）</li>
  <li>冷罨法</li>
  <li>必要に応じ抗生物質（医師の診断）</li>
  <li>疼痛にて直母・搾乳両方不可の時はブロモクリプチンの内服（医師の診断）</li>
  <li></li>
</ul>
<ul>
  <h5>予防</h5>
  <li>原因疾患の早期治療</li>
</ul>
<ul>  
  <h5>鑑別診断</h5>
  <li>腎盂炎、感冒との鑑別またはそれらとの合併に注意を要する。</li>
  <li>うつ乳</li>
  <li>乳房鬱積</li>
  <li>乳汁貯留腫</li>
</ul>
  </div>


   <div class="nav-item">
     <%= link_to '乳腺炎チェックする', new_breast_condition_path, class: 'btn btn-orange link-offset-2 fs-6 pe-2 mt-3',data: { turbolinks: false },style: 'color: aliceblue;'%>
              <!--<a class="link-underline-light link-offset-2" href="#"style="color: aliceblue;" >ログイン</a>-->
   </div>
</div>
 
  