// Place all the styles related to the breast_conditions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

main {
 height: 900px;  
} 

.logo {
  width:180px;
  height:50px;
}

