<footer class="footer"  style="background-color:#f0f4f7;">
  <div class="d-flex flex-row md-justify-content-between">
    <div class="me-auto p-2">
      <%= image_tag 'logo.png',alt: 'Logo' ,class: 'logo' %>
    </div>
    <div class="p-2"> 
      <ul class="footer__navi">
        <li><a href="#">当院について</a></li>
        <li><a href="#">母乳外来とは</a></li>
        <li><a href="#">アクセス</a></li>
      </ul>
    </div>
    <div class="p-2">
      <ul class="footer__navi">
        <li><a href="#">利用規約</a></li>
        <li><a href="#">お問い合わせ</a></li>
      <li><a href="#">プライバシーポリシー</a></li>
    </ul>
  </div>
  
  </div>
    <p class="copyright" style="background-color:#1b435d; color: #f0f4f7;
    text-align: center;">© 2024 checkbreast All Rights Reserved.
    </p>
</footer>